body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  width: 100%;
  --BASECOLOR: rgb(115,65,208);
  color: var(--default-color);
}
#root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
:root {
  --global-color: #666;
  --pane-padding: 5px 42px;
  --default-color: #1a73e8;
  --default-border-color: rgba(45, 136, 247, 0.2);
  /* 26, 115, 227*/
}

/* const BASECOLOR= 'rgb(115,65,208)'
const PALE_LIGHT_VIOLET = 'rgb(207,196,226)'; */