
*{
    box-sizing: border-box;
  }
  .rc-input-number{
    flex: 2;
    box-sizing: border-box;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    border-color: var(--default-border-color);
  }
  .rc-input-number-input{
    padding: 0 3px;
    height: 100%;
  }
  .rc-input-number-input-wrap{
    box-sizing: border-box;
    
  }
  .rc-input-number-handler {
    
  }
  /* .rc-input-number-handler-wrap */
  .rc-input-number-handler-up{
    height: 50%;
    border-color: var(--default-border-color);
  }
  .rc-input-number-handler-down{
    height: 50%;
    border-color: var(--default-border-color);
  }
  .rc-input-number-handler-wrap {
    border-color: var(--default-border-color);
  }